.task-list {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin: 10px 0;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.task-item h4 {
  margin: 0;
	width: 500px;
	text-align: start;
}

.done {
  color: green;
  font-weight: bold;
}

.pending {
  color: orange;
  font-weight: bold;
}

.important {
  color: orange;
  font-weight: bold;
}

.normal {
  color: gray;
  font-weight: bold;
}
