body{
  background-color: #f2f3f5;
}

#root {
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem;
  /* estos pueden ser modificados */
  text-align: center;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
