<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>to-do-list</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
  </head>
  <body>
    <section>
      <h2 class="form-title">Agregar nueva tarea</h2>
      <form class="form-task" method="post" action="/task">
        <input
          type="text"
          name="nombre"
          placeholder="Descripción de la tarea"
        />
        <label class="checkbox-label">
          <input type="checkbox" name="completa" value="true" />
          Completada
        </label>
        <label class="checkbox-label">
          <input type="checkbox" name="importante" value="true" />
          Importante
        </label>
        <button type="submit">Agregar tarea</button>
      </form>
      <table class="table-task">
        <thead>
          <tr>
            <th>Descripcion</th>
            <th>Completa</th>
            <th>Importante</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr id="task-{{ task.id }}">
            <td class="title-task">{{ task.nombre }}</td>
            <td class="complete-task {{ 'true' if task.completa else 'false' }}">
              {{ task.completa }}
            </td>
            <td class="important-task {{ 'true' if task.importante else 'false' }}">
              {{ task.importante }}
            </td>
            <td>
              <a href="/edit_task/{{ task.id }}" class="edit-btn">Editar</a>

              <form
                action="/task/{{ task.id }}/delete"
                method="post"
                style="display: inline"
              >
                <button
                  type="submit"
                  class="delete-btn"
                  onclick="return confirm('¿Estás seguro de que quieres eliminar esta tarea?');"
                >
                  Eliminar
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </body>
</html>
